.staticPages .institucional-qd-v1-content .boxContent {
    margin-top: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.staticPages .institucional-qd-v1-content .boxContent .PlanContent h3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.staticPages .institucional-qd-v1-content .boxContent .PlanContent p {
    margin-bottom: 20px;
}

.staticPages .institucional-qd-v1-content .boxContent .content {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex: 100%;
}

.staticPages .institucional-qd-v1-content .boxContent .content h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .tab {
    display: none;
}

.staticPages .institucional-qd-v1-content .boxContent .content .tab-1 {
    display: block;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul {
    list-style: none;
    padding: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li {
    background: #e3e3e3;
    margin: 10px 0;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li h3 {
    padding: 10px 12px;
    cursor: pointer;
    background: url("//sevensevencolombia.vteximg.com.br/arquivos/icoMas.png") right center no-repeat;
    letter-spacing: 1px;
    font-size: 14px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li .active {
    background: url("//sevensevencolombia.vteximg.com.br/arquivos/icoMenos.png") right center no-repeat;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li div {
    margin-bottom: 10px;
    background: #fff;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li div h4 {
    font-size: .9rem;
    margin-left: 15px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li div p {
    margin: 5px 17px;
    letter-spacing: 1px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li div ul {
    padding-left: 30px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li div ul li {
    background: 0 0;
    border: none;
    list-style-type: disc;
    padding-bottom: 5px;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian div {
    display: none;
}

.staticPages .institucional-qd-v1-content .boxContent .content .accordian div.on {
    display: block;
    overflow: hidden;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab {
    width: 80%;
}
@media screen and (max-width: 1250px) {
    .staticPages .institucional-qd-v1-content .boxContent .promociones .tab {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .staticPages .institucional-qd-v1-content .boxContent .promociones .tab,
    .staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-image {
        width: 100%;
    }
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content {
    list-style: none;
    padding: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content li {
    margin-top: 20px;
    position: relative;
    font-size: 14px;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content li p{
    font-size: 14px;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content li h3 {
    margin-bottom: 15px;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-image {
    width: 28%;
    min-height: 200px;
    float: left;
    overflow-x: hidden;
    text-align: center;
    padding: 3px;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-image a img {
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-image {
        width: 100%;
    }
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-text {
    float: none;
    font-size: 11.5px;
    width: 68%;
    text-align: justify;
    display: inline-block;
    margin-left: 24px;
    min-height: 200px;
}

.staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-text ul li {
    list-style: outside;
    margin-top: 5px;
    margin-bottom: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa h3 {
    color: #000;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa h3 a {
    color: #000;
    text-decoration: none;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa .cajaMapa {
    display: inline-block;
    min-width: 30%;
    vertical-align: top;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa .cajaMapa ul {
    list-style: none;
    padding: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa .cajaMapa ul li {
    margin: 10px;
    line-height: 20px;
}

.staticPages .institucional-qd-v1-content .boxContent .bloque-mapa .cajaMapa ul li a {
    color: #333;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .staticPages .institucional-qd-v1-content .boxContent .promociones .tab ul.news-content div.news-text {
        width: 90%;
    }

    .staticPages.promesas {
        margin-top: 140px !important;
    }
}

.staticPages.promesas .menuPromesas {
    background: #ccc;
    width: 100%;
}

.staticPages.promesas .menuPromesas div {
    display: inline-block;
    text-align: center;
    width: calc(100%/4);
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}
@media screen and (max-width: 767px) {
    .staticPages.promesas .menuPromesas div {
        width: 100%;
        text-align: center;
    }
}

.staticPages.promesas .menuPromesas div:after {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 0;
    left: 47%;
}

.staticPages.promesas .menuPromesas div:hover {
    background: #ff5e57;
    color: #fff;
}

.staticPages.promesas .menuPromesas div h2 {
    font-size: 13px;
    letter-spacing: 2px;
    padding: 15px;
}

.staticPages.promesas .menuPromesas .active {
    background: #333;
    color: #fff;
}

.staticPages.promesas .contentPromesas {
    position: relative;
    width: 100%;
    height: 600px;
}

.staticPages.promesas .contentPromesas .btnReturn {
    background: #ff5e57;
    display: block!important;
    width: 15%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.staticPages.promesas .contentPromesas .btnReturn a {
    color: #fff;
    padding: 15px;
    letter-spacing: 2px;
    font-size: 11px;
    text-align: center;
}

.staticPages.promesas .contentPromesas .btnReturn:before {
    content: '';
    border-top: 13px solid transparent;
    border-right: 13px solid #ff5e57;
    border-bottom: 13px solid transparent;
    border-left: 13px solid transparent;
    position: absolute;
    top: 0;
    left: -25px;
}

.staticPages.promesas .contentPromesas .contInterno {
    opacity: 0;
    width: 80%;
    margin: 30px auto;
    position: absolute;
    top: 300px;
    left: 10%;
    text-align: left;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.staticPages.promesas .contentPromesas .contInterno h2 {
    font-size: 25px;
    letter-spacing: 3px;
    color: #333;
}

.staticPages.promesas .contentPromesas .contInterno p {
    font-size: 14px;
    letter-spacing: 1px;
}

.staticPages.promesas .contentPromesas .contInterno.active {
    opacity: 1;
    top: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex: 100%;
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft ul {
    list-style: none;
    padding: 0;
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li {
    transition: all .5s;
    font-size: 16px;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #000000;
    color: #000000;
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li.active {
    background-color: #000000;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li {
        display:block!important;
        text-align: center;
        border-bottom: 1px solid #000;
        font-size: 14px!important;
        padding: 5px!important;
        margin: 0 0 5px!important;
    }
}

.staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li a {
    color: #ccc;
    text-transform: uppercase;
    cursor: pointer
}

@media screen and (max-width: 1250px) {
    .staticPages .institucional-qd-v1-content {
        width: 90%;
    }

    .staticPages .institucional-qd-v1-content .menu-institucional-qd-v1-content ul li {
        padding: 10px;
    }
}
@media screen and (max-width: 1023px) {
    .staticPages {
        margin: 80px 0 20px;
    }

    .staticPages .institucional-qd-v1-content {
        width: 95%;
    }

    .staticPages .institucional-qd-v1-content .menu-institucional-qd-v1-content ul {
        padding: 2px 0 0;
    }

    .staticPages .institucional-qd-v1-content .menu-institucional-qd-v1-content ul li {
        display: block;
        padding: 10px 0 5px;
        border-bottom: 1px solid #fff;
        border-right: none;
    }

    .staticPages .institucional-qd-v1-content .menu-institucional-qd-v1-content ul li a.active:before {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .staticPages .institucional-qd-v1-content .boxContent {
        margin-top: 20px;
    }

    .staticPages .institucional-qd-v1-content .boxContent .menuLeft {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        -ms-flex: 100%;
    }

    .staticPages .institucional-qd-v1-content .boxContent .menuLeft ul {
        text-align: center;
    }

    .staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .staticPages .institucional-qd-v1-content .boxContent .content {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        -ms-flex: 100%;
        border-left: none;
        padding: 20px 0 0;
    }
}
@media screen and (max-width: 767px) {
    .staticPages {
        margin: 20px 0;
    }

    .staticPages .institucional-qd-v1-content .boxContent .menuLeft ul {
        text-align: left;
    }

    .staticPages .institucional-qd-v1-content .boxContent .menuLeft ul li {
        font-size: .9rem;
    }

    .staticPages .institucional-qd-v1-content .boxContent .content h2 {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .staticPages .institucional-qd-v1-content .boxContent .content .accordian ul li h3 {
        padding: 10px 20px 10px 0;
    }

    .staticPages .institucional-qd-v1-content .boxContent .bloque-mapa .cajaMapa {
        width: 90%;
    }
}
