/* dan - 26/06/2020 09:23:17 GMT-0300 */
/*! Não edite esse arquivo, ele foi gerado de maneira automatizada */
.qd-retirar-title{font-family:"Open Sans";font-style:normal;font-weight:bold;font-size:19px;line-height:30px;letter-spacing:4px;text-transform:uppercase}