.slider-qd-v1-full.new-slider-qd-v1 {
	// SEU CÓDIGO AQUI
	background-image: none !important;
	background-position: center !important;
	background-size: 100% auto !important;
	// Código padrão:
	// background-image: none !important;
	// background-position: center !important;
	// background-size: 100% auto !important;
}