@font-face{
    font-family:'Futura Book BT';
    src:url("/arquivos/FuturaBT-Book.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Book.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Book.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Futura Heavy BT';
    src:url("/arquivos/FuturaBT-Heavy.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Heavy.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Heavy.woff.css") format("woff");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Futura Light BT';
    src:url("/arquivos/FuturaBT-LightCondensed.ttf.css") format("truetype"),url("/arquivos/FuturaBT-LightCondensed.woff2.css") format("woff2"),url("/arquivos/FuturaBT-LightCondensed.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Futura Medium BT';
    src:url("/arquivos/FuturaBT-Medium.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Medium.woff2.css") format("woff2"),url("/arquivosFuturaBT-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Bold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Bold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Bold.woff.css") format("woff");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-SemiBold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-SemiBold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-SemiBold.woff.css") format("woff");
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaProRegular.ttf.css") format("truetype"),url("/arquivos/SofiaProRegular.woff2.css") format("woff2"),url("/arquivos/SofiaProRegular.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Medium.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Medium.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Light.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Light.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Light.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro Regular';
    src:url("sofia_pro_regular-webfont.woff2") format("woff2"),url("sofia_pro_regular-webfont.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@keyframes move{
    0%{
        top:-50px
    }
    50%{
        top:-60px
    }
    100%{
        top:-50px
    }
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after{
    content:'';
    content:none
}
q:before,q:after{
    content:'';
    content:none
}
input,button{
    background-color:transparent;
    border-radius:0;
    outline:none;
    border:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
strong{
    font-weight:bold
}
a{
    text-decoration:none
}
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box
}
@font-face{
    font-family:'Futura Book BT';
    src:url("/arquivos/FuturaBT-Book.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Book.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Book.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Futura Heavy BT';
    src:url("/arquivos/FuturaBT-Heavy.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Heavy.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Heavy.woff.css") format("woff");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Futura Light BT';
    src:url("/arquivos/FuturaBT-LightCondensed.ttf.css") format("truetype"),url("/arquivos/FuturaBT-LightCondensed.woff2.css") format("woff2"),url("/arquivos/FuturaBT-LightCondensed.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Futura Medium BT';
    src:url("/arquivos/FuturaBT-Medium.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Medium.woff2.css") format("woff2"),url("/arquivosFuturaBT-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Bold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Bold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Bold.woff.css") format("woff");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-SemiBold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-SemiBold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-SemiBold.woff.css") format("woff");
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaProRegular.ttf.css") format("truetype"),url("/arquivos/SofiaProRegular.woff2.css") format("woff2"),url("/arquivos/SofiaProRegular.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Medium.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Medium.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Light.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Light.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Light.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro Regular';
    src:url("sofia_pro_regular-webfont.woff2") format("woff2"),url("sofia_pro_regular-webfont.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@keyframes move{
    0%{
        top:-50px
    }
    50%{
        top:-60px
    }
    100%{
        top:-50px
    }
}
.x-header{
    float:left;
    width:100%;
    position:fixed;
    top:0;
    background-color:rgba(255,255,255,0.85) !important;
    box-shadow:0px 3px 3.48px 0.52px rgba(0,0,0,0.13);
    z-index:99999
}
.x-header .x-center{
    width:95%;
    height:70px;
    margin:0 auto;
    padding:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.x-header__navigation{
    -ms-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    transition:all linear .2s;
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__navigation{
        -ms-flex-basis:60%;
        -ms-flex-preferred-size:60%;
        flex-basis:60%
    }
}
.x-header__navigation.x-width{
    -ms-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__navigation.x-width{
        -ms-flex-basis:56%;
        -ms-flex-preferred-size:56%;
        flex-basis:56%
    }
}
.x-header__navigation--logo-icon{
    font-size:0;
    text-indent:-9999em;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    margin-right:20px;
    position:relative;
    width:17px;
    height:17px;
    top:-5px;
    transition:all linear .3s
}
.x-header__navigation--logo-icon.x-active{
    margin-right:10px
}

@media (min-width: 990px) and (max-width: 1265px){
    .x-header__navigation [href*="/black-friday-2018"]{
        white-space:nowrap
    }
}
.x-header__info{
    -ms-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    transition:all linear .2s
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info{
        -ms-flex-basis:31%;
        -ms-flex-preferred-size:31%;
        flex-basis:31%
    }
}
.x-header__info.x-width{
    -ms-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info.x-width{
        -ms-flex-basis:40%;
        -ms-flex-preferred-size:40%;
        flex-basis:40%
    }
}
.x-header__info--links{
    -ms-flex-basis:160%;
    -ms-flex-preferred-size:160%;
    flex-basis:160%;
    transition:all linear .2s;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media (min-width: 1480px) and (max-width: 5000px){
    .x-header__info--links{
        -ms-flex-basis:70%;
        -ms-flex-preferred-size:70%;
        flex-basis:70%
    }
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--links{
        -ms-flex-basis:60%;
        -ms-flex-preferred-size:60%;
        flex-basis:60%;
        margin-right:31%
    }
}
.x-header__info--links.x-width{
    -ms-flex-basis:40%;
    -ms-flex-preferred-size:40%;
    flex-basis:40%
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--links.x-width{
        -ms-flex-basis:30%;
        -ms-flex-preferred-size:30%;
        flex-basis:30%;
        margin-right:10%
    }
}
.x-header__info--links li{
    margin-right:35px;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    margin-right:20px
}
.x-header__info--links li:last-of-type{
    margin-right:0
}
.x-header__info--links li a{
    font-size:11px;
    color:#000;
    font-weight:500;
    font-family:'Futura Medium BT';
    letter-spacing:0.9px;
    outline:0;
    -webkit-font-smoothing:auto;
    text-rendering:optimizeLegibility;
    transition:all linear 0.2s
}
.x-header__info--links li a:after{
    content:'';
    width:0;
    height:1.3px;
    background:#000;
    display:block;
    margin-top:2px;
    overflow:hidden;
    white-space:nowrap;
    transition:width 0.3s ease-in-out, visibility 0.3s linear
}
.x-header__info--links li a:hover:after{
    width:100%
}
.x-header__info--links li a{
    font-family:"Sofia Pro",sans-serif
}
.x-header__info--links li:last-child{
    float:right;
    margin-right:40%
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--links li:last-child{
        margin-right:0%
    }
}
.x-header__info--accounts{
    -ms-flex-basis:40%;
    -ms-flex-preferred-size:40%;
    flex-basis:40%;
    transition:all linear .2s;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media (min-width: 1480px) and (max-width: 5000px){
    .x-header__info--accounts{
        -ms-flex-basis:30%;
        -ms-flex-preferred-size:30%;
        flex-basis:30%
    }
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--accounts{
        -ms-flex-basis:60%;
        -ms-flex-preferred-size:60%;
        flex-basis:60%
    }
}
.x-header__info--accounts.x-width{
    -ms-flex-basis:86%;
    -ms-flex-preferred-size:86%;
    flex-basis:86%
}
@media (min-width: 1480px) and (max-width: 5000px){
    .x-header__info--accounts.x-width{
        -ms-flex-basis:148%;
        -ms-flex-preferred-size:148%;
        flex-basis:148%
    }
}
@media (min-width: 1340px) and (max-width: 1470px){
    .x-header__info--accounts.x-width{
        -ms-flex-basis:75%;
        -ms-flex-preferred-size:75%;
        flex-basis:75%
    }
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--accounts.x-width{
        -ms-flex-basis:70%;
        -ms-flex-preferred-size:70%;
        flex-basis:70%
    }
}
.x-header__info--accounts li{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    margin-right:20px;
    width:20px
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--accounts li{
        margin-right:10px
    }
}
.x-header__info--accounts li:last-of-type{
    margin-right:0;
    width:calc(100% - 120px)
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--accounts li:last-of-type{
        width:calc(100% - 90px)
    }
}
.x-header__info--accounts .x-wishlist__icon{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -73px;
    width:19px;
    height:17px;
    background-image:unset
}
.x-header__info--accounts .x-minicart__icon{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    width:18px;
    height:18px;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    border:1px solid;
    border-radius:50px
}
.x-header__info--accounts .x-minicart__icon .x-number-itens{
    text-align:center;
    font-size:10px;
    line-height:16px
}
.x-header__info--accounts .x-minicart__icon .portal-totalizers-ref .cartInfoWrapper .title,.x-header__info--accounts .x-minicart__icon .portal-totalizers-ref .cartInfoWrapper li strong,.x-header__info--accounts .x-minicart__icon .portal-totalizers-ref .cartInfoWrapper li em{
    display:none
}
.x-header__info--accounts .x-minicart__icon .portal-totalizers-ref .cartInfoWrapper ul li.amount-items em{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center;
    font-size:10px;
    line-height:17px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center
}
.x-header__info--accounts .x-account__icon{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -111px;
    width:18px;
    height:17px;
    background-image:unset
}
.x-header__info--accounts .x-search{
    position:relative
}
.x-header__info--accounts .x-search__icon{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -130px;
    width:12px;
    height:17px;
    background-image:unset;
    cursor:pointer
}
.x-header__info--accounts .x-search__icon.x-hide{
    display:none
}
.x-header__info--accounts .x-search__form{
    opacity:0;
    width:0;
    height:0;
    visibility:hidden;
    white-space:nowrap;
    float:right;
    transition:width 0.3s cubic-bezier(0.4, 0, 1, 1)
}
.x-header__info--accounts .x-search__form.x-active{
    opacity:1;
    visibility:visible;
    width:100%;
    height:auto;
    position:relative;
    left:20px
}
@media (min-width: 990px) and (max-width: 1265px){
    .x-header__info--accounts .x-search__form.x-active{
        left:10px
    }
}
.x-header__info--accounts .x-search__form form{
    overflow:hidden
}
.x-header__info--accounts .x-search__form form input{
    padding:6.5px 0;
    border-bottom:1px solid #4a4a4a;
    color:#4a4a4a;
    font-weight:400;
    width:90%;
    transition:width 2s ease-in-out;
    font-family:"Sofia Pro",sans-serif;
    font-size:12px;
    -webkit-text-fill-color:#000
}
.x-header__info--accounts .x-search__form form input:placeholder{
    color:#000
}
.x-header__info--accounts .x-search__form form button{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -130px;
    width:12px;
    height:17px;
    cursor:pointer;
    position:relative;
    right:10px
}
.x-header-menu{
    opacity:0;
    visibility:hidden;
    transition:all linear .6s;
    width:27%;
    min-height:75vh;
    position:fixed;
    left:-100%;
    top:69px;
    z-index:999;
    background:#fdfdfc;
    box-shadow:0px 3px 3.48px 0.52px rgba(0,0,0,0.13)
}
.x-header-menu.x-active{
    left:0;
    visibility:visible;
    opacity:1
}
.x-header-menu__content{
    padding:25px 25px 50px
}
.x-header-menu__content--header{
    width:100%;
    float:left;
    position:relative;
    border-bottom:1px solid #dcdcdc;
    margin-bottom:30px
}
.x-header-menu__content--header a{
    font-family:"Sofia Pro",sans-serif;
    color:#000000;
    font-size:12px;
    padding:30px 0;
    display:block;
    font-weight:400
}
.x-header-menu__content--header a:before{
    content:'';
    width:6px;
    height:6px;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    border-radius:50%;
    margin-right:20px;
    background:#000000
}
.x-header-menu__content--header .x-close{
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -21px;
    width:13px;
    height:13px;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    position:absolute;
    top:0;
    right:0;
    cursor:pointer
}
.x-header-menu__content--links{
    width:100%;
    float:left;
    position:relative;
    border-bottom:1px solid #dcdcdc
}
.x-header-menu__content--links ul{
    margin-left:25px;
    margin-bottom:30px;
    display:block
}
.x-header-menu__content--links ul li{
    display:block;
    margin-bottom:20px;
    font-family:"Sofia Pro",sans-serif
}
.x-header-menu__content--links ul li:first-child{
    display:none
}
.x-header-menu__content--links ul li a{
    color:#000000;
    font-size:12px;
    font-weight:300;
    font-family:"Sofia Pro",sans-serif !important
}
.x-header-menu__content--social{
    width:100%;
    float:left;
    position:relative;
    margin-left:25px;
    margin-top:30px;
    margin-bottom:30px
}
.x-header-menu__content--social span{
    font-family:"Sofia Pro",sans-serif;
    color:#000000;
    font-weight:400;
    font-size:12px;
    display:block;
    margin-bottom:20px
}
.x-header-menu__content--social ul{
    display:block
}
.x-header-menu__content--social ul li{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    margin-right:20px
}
.x-header-menu__content--social ul li:first-of-type a{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    width:22px;
    height:22px
}
.x-header-menu__content--social ul li:last-of-type a{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    width:22px;
    height:22px
}
.x-header-minicart .x-minicart .x-full-cart{
    position:fixed;
    top:70px;
    right:-100%;
    width:33%;
    min-height:75vh;
    padding:20px;
    background-color:#fefefd;
    z-index:9999;
    box-shadow:0px 3px 3.48px 0.52px rgba(0,0,0,0.13);
    transition:ease all 0.2s
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header{
    position:relative;
    float:left;
    width:100%;
    background-color:#fefefd;
    color:#000000
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header .x-group-items-header{
    display:block;
    border-bottom:1px solid #e1e1e1;
    margin-right:50px;
    padding:0 0 20px 0
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header .x-group-items-header li{
    position:relative;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    margin-right:32px;
    font-family:"Sofia Pro",sans-serif
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header .x-group-items-header li a{
    text-transform:uppercase;
    color:#000000;
    font-size:10px;
    font-weight:400;
    text-decoration:none
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header .x-group-items-header li:first-child:before{
    content:'';
    display:inline-block;
    width:5px;
    height:5px;
    background-color:#000000;
    position:relative;
    top:-3px;
    right:0;
    margin-right:25px;
    border-radius:50%
}
.x-header-minicart .x-minicart .x-full-cart .x-group-header .x-group-items-header .x-icon-close-cart{
    position:absolute;
    top:-1px;
    right:0;
    font-size:0;
    cursor:pointer;
    width:13px;
    height:13px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart{
    float:left;
    width:100%;
    display:none
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart.x-active{
    display:block
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-brands{
    float:left;
    width:100%;
    text-align:center;
    color:#000000;
    font-size:12px;
    padding:18px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products{
    float:left;
    width:100%;
    min-height:60px;
    overflow-x:hidden !important
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products::-webkit-scrollbar{
    width:6px;
    border-radius:50%
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products::-webkit-scrollbar-track{
    background:#d7d7d7;
    border:2px solid transparent;
    background-clip:content-box
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products::-webkit-scrollbar-thumb{
    background:#515154
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list{
    float:left;
    width:100%;
    display:block;
    max-height:307px;
    overflow:auto;
    overflow-x:hidden;
    box-shadow:inset 0px -40px 16px 0px rgba(255,255,255,0.7)
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list::-webkit-scrollbar{
    width:6px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list::-webkit-scrollbar-track{
    background:#d7d7d7;
    border:2px solid transparent;
    background-clip:content-box
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list::-webkit-scrollbar-thumb{
    background:#515154;
    width:6px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li{
    position:relative;
    float:left;
    width:100%;
    margin:20px 0 0;
    padding:10px 0;
    background-color:#fefefd;
    position:relative
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li:last-child{
    margin-bottom:15px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-0{
    float:left;
    width:28%;
    max-width:80px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-0 ._qc-img{
    max-width:65px;
    margin:10px auto 10px 0;
    border:1px solid #ebebeb;
    display:block;
    padding:10px;
    overflow:hidden;
    height:65px;
    position:relative
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-0 ._qc-img img{
    width:110%;
    height:auto;
    vertical-align:middle;
    position:absolute;
    top:0;
    bottom:0;
    left:-5%;
    right:0;
    margin:auto
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-0 ._qc-product{
    position:absolute;
    width:25.1%;
    top:43px;
    left:22%;
    font-size:12px;
    line-height:1.3;
    font-weight:800;
    color:#000;
    font-family:"Sofia Pro",sans-serif;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-transform:uppercase;
    letter-spacing:1px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-1{
    position:absolute;
    top:38px;
    left:49%
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-1 input[type="text"]{
    display:inline-block;
    text-align:center;
    width:28px;
    font-size:12px;
    color:#000000;
    font-weight:400;
    background:transparent
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-1 a{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    width:22px;
    height:22px;
    line-height:22px;
    font-weight:bold;
    font-size:14px;
    color:#000000;
    text-decoration:none;
    text-align:center;
    cursor:pointer
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-1 a_remove{
    line-height:21px;
    font-size:20px;
    font-weight:100
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-2{
    position:absolute;
    top:43px;
    right:24px;
    font-size:14px;
    font-weight:500;
    color:#000
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-2:before{
    content:'';
    height:4px;
    width:4px;
    background-color:#000;
    border-radius:100%;
    display:inline-block;
    position:relative;
    top:-2px;
    right:7px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-3{
    position:absolute;
    top:47px;
    right:0px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-3 .remove-link{
    cursor:pointer;
    display:block;
    color:#000000;
    text-decoration:none;
    width:15px;
    height:15px;
    line-height:11px;
    font-size:0px;
    text-align:center;
    text-indent:1px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li .col-3 .remove-link:before{
    content:"+";
    color:#000;
    font-size:21px;
    transform:rotate(45deg);
    top:-5px;
    display:block;
    position:relative;
    font-weight:bold
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list li:first-child{
    margin-top:0
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-products .cart-list a{
    color:#000
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot{
    float:left;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    padding:0px 15px 20px;
    box-shadow:inset 0px 81px 5px 0px #fff
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-total{
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    text-transform:uppercase;
    background-color:#fefefd;
    color:#000000;
    font-size:14px;
    font-weight:bold;
    padding:0;
    margin:30px auto;
    display:block;
    height:16px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-total ul li{
    float:left;
    vertical-align:middle;
    font-size:16px;
    font-family:"Sofia Pro",sans-serif;
    margin:0 10px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-total ul li.x-sub{
    font-weight:400;
    float:right
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-total ul li.x-sub:before{
    content:'';
    display:inline-block;
    width:4px;
    height:4px;
    border-radius:100%;
    background-color:#000;
    position:relative;
    bottom:3px;
    margin:0 5px
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-buy{
    float:left;
    width:98%;
    margin:0 1%
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-buy .x-btn-continue{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    width:48%;
    font-size:12px;
    white-space:nowrap;
    height:35px;
    line-height:32px;
    font-weight:400;
    text-align:center;
    text-transform:lowercase;
    color:#000000;
    text-decoration:none;
    border:1px solid #000;
    transition:ease all 0.2s;
    margin-right:4%
}
.x-header-minicart .x-minicart .x-full-cart .x-group-cart .x-group-foot .x-buy .x-btn-buy{
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    white-space:nowrap;
    width:48%;
    font-size:12px;
    height:35px;
    line-height:32px;
    font-weight:400;
    text-align:center;
    text-transform:lowercase;
    color:#fff;
    background-color:#000;
    text-decoration:none;
    border:1px solid #000;
    transition:ease all 0.2s
}
.x-header-minicart .x-minicart .x-full-cart .x-msg-group-cart{
    float:left;
    width:100%;
    text-align:center;
    font-size:12px;
    color:#000000;
    padding:40px 20px;
    line-height:1.4;
    display:none
}
.x-header-minicart .x-minicart .x-full-cart .x-msg-group-cart.x-active{
    display:block
}
.x-header-minicart .x-minicart .x-full-cart.x-active,.x-header-minicart .x-minicart .x-full-cart.x-add-product{
    right:0
}
@font-face{
    font-family:'Futura Book BT';
    src:url("/arquivos/FuturaBT-Book.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Book.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Book.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Futura Heavy BT';
    src:url("/arquivos/FuturaBT-Heavy.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Heavy.woff2.css") format("woff2"),url("/arquivos/FuturaBT-Heavy.woff.css") format("woff");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Futura Light BT';
    src:url("/arquivos/FuturaBT-LightCondensed.ttf.css") format("truetype"),url("/arquivos/FuturaBT-LightCondensed.woff2.css") format("woff2"),url("/arquivos/FuturaBT-LightCondensed.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Futura Medium BT';
    src:url("/arquivos/FuturaBT-Medium.ttf.css") format("truetype"),url("/arquivos/FuturaBT-Medium.woff2.css") format("woff2"),url("/arquivosFuturaBT-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Bold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Bold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Bold.woff.css") format("woff");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-SemiBold.ttf.css") format("truetype"),url("/arquivos/SofiaPro-SemiBold.woff2.css") format("woff2"),url("/arquivos/SofiaPro-SemiBold.woff.css") format("woff");
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaProRegular.ttf.css") format("truetype"),url("/arquivos/SofiaProRegular.woff2.css") format("woff2"),url("/arquivos/SofiaProRegular.woff.css") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Medium.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Medium.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Medium.woff.css") format("woff");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro';
    src:url("/arquivos/SofiaPro-Light.ttf.css") format("truetype"),url("/arquivos/SofiaPro-Light.woff2.css") format("woff2"),url("/arquivos/SofiaPro-Light.woff.css") format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Sofia Pro Regular';
    src:url("sofia_pro_regular-webfont.woff2") format("woff2"),url("sofia_pro_regular-webfont.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@keyframes move{
    0%{
        top:-50px
    }
    50%{
        top:-60px
    }
    100%{
        top:-50px
    }
}
.x-footer{
    width:100%;
    float:left;
    position:relative
}
.x-footer__contents{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:initial;
    align-items:initial;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.x-footer__contents--item{
    position:relative
}
.x-footer__contents--item:nth-child(1){
    -ms-flex-preferred-size:15%;
    flex-basis:15%;
    background:#dedcda;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    font-size:12px;
    font-weight:400;
    color:#000000;
    font-family:"Sofia Pro",sans-serif;
    text-align:center
}
.x-footer__contents--item:nth-child(1) a{
    display:block;
    width:100%
}
.x-footer__contents--item:nth-child(1) a.x-footer__contents--item-instagram{
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -254px;
    width:22px;
    height:22px;
    background-image:none
}
.x-footer__contents--item:nth-child(1) a.x-footer__contents--item-facebook{
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -278px;
    width:23px;
    height:23px;
    background-image:none
}
.x-footer__contents--item:nth-child(1) p{
    display:block;
    width:100%;
    padding:0 15px;
    line-height:1.3
}
.x-footer__contents--item:nth-child(2){
    background:#f7f7f7;
    -ms-flex-preferred-size:15%;
    flex-basis:15%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center
}
.x-footer__contents--item:nth-child(2) a.x-footer__contents--item-whatsapp{
    background-image:url(/arquivos/conceitoe-sprite.png?0.17718292994846618);
    background-position:0px -208px;
    width:21px;
    height:21px;
    background-image:none;
    position:absolute;
    bottom:20px
}
.x-footer__contents--item:nth-child(2) p{
    text-align:center;
    font-size:12px;
    font-weight:400;
    color:#000000;
    font-family:"Sofia Pro",sans-serif;
    transition:all linear 0.2s
}
.x-footer__contents--item:nth-child(2) p:after{
    content:'';
    width:0;
    height:1.3px;
    background:#000;
    display:block;
    margin-top:2px;
    overflow:hidden;
    white-space:nowrap;
    transition:width 0.3s ease-in-out, visibility 0.3s linear
}
.x-footer__contents--item:nth-child(2) p:hover:after{
    width:100%
}
.x-footer__contents--item:nth-child(2) p a{
    text-decoration:none
}
.x-footer__contents--item:nth-child(3){
    -ms-flex-preferred-size:35%;
    flex-basis:35%
}
.x-footer__contents--item:nth-child(3) .x-footer__contents--item-top{
    background:#e8e6e5;
    min-height:100px
}
.x-footer__contents--item:nth-child(3) .x-footer__contents--item-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:140px;
    height:140px;
    line-height:140px;
    background:#FFFFFF;
    border-radius:50%;
    text-align:center;
    font-size:12px;
    font-weight:400;
    font-family:"Sofia Pro",sans-serif;
    box-shadow:inset 4px 5px 12px 0px rgba(0,0,0,0.38)
}
.x-footer__contents--item:nth-child(3) .x-footer__contents--item-middle a{
    text-decoration:none
}
.x-footer__contents--item:nth-child(3) .x-footer__contents--item-middle a:visited,.x-footer__contents--item:nth-child(3) .x-footer__contents--item-middle a:active{
    color:#000
}
.x-footer__contents--item:nth-child(3) .x-footer__contents--item-bottom{
    background:#f7f7f7;
    min-height:100px
}
.x-footer__contents--item:nth-child(4){
    -ms-flex-preferred-size:35%;
    flex-basis:35%;
    background:#f2f2f1;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center
}
.x-footer__contents--item:nth-child(4)>p{
    font-size:12px;
    font-weight:400;
    color:#000000;
    font-family:"Sofia Pro",sans-serif;
    width:100px;
    -ms-flex-preferred-size:100px;
    flex-basis:100px;
    margin-right:0px;
    text-transform:lowercase
}
.x-footer__contents--item:nth-child(4) .newsletter{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    width:100%;
    float:left;
    position:relative
}
.x-footer__contents--item:nth-child(4) .newsletter *{
    font-size:12px
}
.x-footer__contents--item:nth-child(4) .newsletter>h3{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:12px;
    font-weight:400;
    margin-right:20px
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset>p{
    display:none
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset input#newsletterClientName{
    display:none
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset input#newsletterClientEmail{
    padding:5px 0 2px;
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:11px;
    border-bottom:2px solid #000;
    margin-right:20px;
    width:175px;
    text-transform:lowercase
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset input#newsletterButtonOK{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:12px;
    font-weight:400;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset.error{
    float:left;
    margin-right:20px;
    width:175px
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset.error>label{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:11px;
    font-weight:300
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset.success{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:11px;
    font-weight:300;
    line-height:1.5;
    margin-right:20px;
    width:195px
}
.x-footer__contents--item:nth-child(4) .newsletter fieldset .newsletter-button-back{
    margin-right:10%;
    padding:10px;
    background:#000;
    -webkit-text-fill-color:#fff;
    font-weight:normal;
    cursor:pointer
}
.x-footer__contents--item:nth-child(4) .newsletter .newsletter-button-back{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:12px;
    font-weight:400;
    margin-right:9%
}
.x-footer__contents--item .x-form-news .x-form-title{
    display:inline-block;
    vertical-align:middle
}
.x-footer__contents--item .x-form-news .x-form-title h3{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:12px;
    font-weight:400;
    margin-right:20px
}
.x-footer__contents--item .x-form-news .x-form-action{
    display:inline-block;
    vertical-align:middle
}
.x-footer__contents--item .x-form-news .x-form-action .x-form-group{
    display:inline-block;
    vertical-align:middle
}
.x-footer__contents--item .x-form-news .x-form-action .x-form-group .x-form-text{
    padding:5px 0 2px;
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:11px;
    border-bottom:2px solid #000;
    margin-right:20px;
    width:175px;
    text-transform:lowercase
}
.x-footer__contents--item .x-form-news .x-form-action .x-form-group .x-form-btn{
    font-family:"Sofia Pro",sans-serif;
    color:#000;
    font-size:12px;
    font-weight:400;
    display:inline-block;
    vertical-align:middle
}
.x-footer__contents--item .x-form-news .x-form-message{
    display:inline-block;
    vertical-align:middle;
    width:80%
}
.x-footer__contents--item .x-form-news .x-form-message label{
    font-size:12px
}
.x-footer__contents--item .newsletter{
    display:none !important
}
.x-footer__contents--bottom{
    float:left;
    width:100%;
    text-align:center;
    line-height:3;
    font-size:12px;
    background-color:#e8e8e8
}
.x-products__list,.x-product-list{
    float:left;
    width:100%
}
.x-products__list.x-departament-1 ul li:hover .x-vitrine__image a,.x-product-list.x-departament-1 ul li:hover .x-vitrine__image a{
    background-color:rgba(226,218,161,0.7)
}
.x-products__list .e-moda:hover .x-vitrine__image a,.x-product-list .e-moda:hover .x-vitrine__image a{
    background-color:rgba(235,217,215,0.7)
}
.x-products__list .e-beauty:hover .x-vitrine__image a,.x-product-list .e-beauty:hover .x-vitrine__image a{
    background-color:rgba(203,224,213,0.7)
}
.x-products__list .e-books:hover .x-vitrine__image a,.x-product-list .e-books:hover .x-vitrine__image a{
    background-color:rgba(130,169,190,0.7)
}
.x-products__list .e-casa:hover .x-vitrine__image a,.x-product-list .e-casa:hover .x-vitrine__image a{
    background-color:rgba(226,218,161,0.7)
}
.x-products__list .e-tech:hover .x-vitrine__image a,.x-product-list .e-tech:hover .x-vitrine__image a{
    background-color:rgba(91,111,129,0.7)
}
.x-products__list .e-art:hover .x-vitrine__image a,.x-product-list .e-art:hover .x-vitrine__image a{
    background-color:rgba(200,113,100,0.7)
}
.x-products__list .e-flor:hover .x-vitrine__image a,.x-product-list .e-flor:hover .x-vitrine__image a{
    background-color:rgba(199,215,224,0.7)
}
.x-products__list .e-resto:hover .x-vitrine__image a,.x-product-list .e-resto:hover .x-vitrine__image a{
    background-color:rgba(130,161,152,0.7)
}
.x-products__list .slick-slider,.x-product-list .slick-slider{
    float:left;
    width:100%;
    overflow:hidden
}
.x-products__list .slick-list,.x-product-list .slick-list{
    position:relative;
    overflow:hidden;
    margin:0 30px
}
.x-products__list .slick-arrow,.x-product-list .slick-arrow{
    position:absolute;
    top:50%;
    margin-top:-16px;
    font-size:0;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:middle;
    cursor:pointer;
    border:0;
    outline:0;
    z-index:1000;
    transition:ease all 0.2s
}
.x-products__list .slick-arrow.slick-prev,.x-product-list .slick-arrow.slick-prev{
    left:0
}
.x-products__list .slick-arrow.slick-next,.x-product-list .slick-arrow.slick-next{
    transform:rotate(-180deg);
    right:0
}
.x-products__list .slick-arrow.slick-disabled,.x-product-list .slick-arrow.slick-disabled{
    opacity:0.4;
    cursor:default
}
.x-products__list ul.slick-slider li,.x-product-list ul.slick-slider li{
    opacity:0;
    visibility:hidden
}
.x-products__list ul.slick-slider li a,.x-product-list ul.slick-slider li a{
    outline:0
}
.x-products__list ul.slick-initialized li,.x-product-list ul.slick-initialized li{
    opacity:1;
    visibility:visible
}
.x-products__list ul li,.x-product-list ul li{
    position:relative;
    float:left;
    padding:15px;
    width:25%;
    outline:0;
    overflow:hidden
}
.x-products__list ul li .x-vitrine__image,.x-product-list ul li .x-vitrine__image{
    transition:ease all 0.2s
}
.x-products__list ul li .x-vitrine__image a,.x-product-list ul li .x-vitrine__image a{
    display:block;
    transition:.2s linear
}
.x-products__list ul li .x-vitrine__image a img,.x-product-list ul li .x-vitrine__image a img{
    width:100%;
    height:auto;
    vertical-align:middle;
    position:relative;
    z-index:-1
}
.x-products__list ul li .x-vitrine__shop,.x-product-list ul li .x-vitrine__shop{
    position:absolute;
    bottom:20%;
    left:0;
    width:100%;
    opacity:0;
    visibility:hidden;
    transition:linear all 0.2s
}
.x-products__list ul li .x-vitrine__brand,.x-product-list ul li .x-vitrine__brand{
    margin:0;
    text-align:center
}
.x-products__list ul li .x-vitrine__brand-name,.x-product-list ul li .x-vitrine__brand-name{
    font-size:15px;
    font-weight:bold;
    line-height:1.5;
    font-family:"Sofia Pro",sans-serif;
    text-transform:uppercase
}
.x-products__list ul li .x-vitrine__name,.x-product-list ul li .x-vitrine__name{
    margin:0;
    text-align:center
}
.x-products__list ul li .x-vitrine__name h2,.x-products__list ul li .x-vitrine__name h3,.x-product-list ul li .x-vitrine__name h2,.x-product-list ul li .x-vitrine__name h3{
    font-size:15px;
    font-weight:400;
    line-height:1.5;
    font-family:"Sofia Pro",sans-serif;
    text-transform:lowercase
}
.x-products__list ul li .x-vitrine__name h2 a,.x-products__list ul li .x-vitrine__name h3 a,.x-product-list ul li .x-vitrine__name h2 a,.x-product-list ul li .x-vitrine__name h3 a{
    color:#000;
    width:80%;
    display:block;
    margin:auto
}
.x-products__list ul li .x-vitrine__price,.x-product-list ul li .x-vitrine__price{
    color:#2f2e38;
    text-align:center;
    font-family:"Sofia Pro",sans-serif;
    text-transform:uppercase
}
.x-products__list ul li .x-vitrine__price-installments,.x-product-list ul li .x-vitrine__price-installments{
    display:block;
    font-size:13px;
    font-weight:500;
    margin:10px 0 0
}
.x-products__list ul li .x-vitrine__price-installments strong,.x-product-list ul li .x-vitrine__price-installments strong{
    font-weight:600;
    color:#000
}
.x-products__list ul li .x-vitrine__price-old span,.x-product-list ul li .x-vitrine__price-old span{
    position:relative
}
.x-products__list ul li .x-vitrine__price-old span:after,.x-product-list ul li .x-vitrine__price-old span:after{
    content:'';
    background:red;
    height:1px;
    left:0;
    bottom:0;
    right:0;
    top:2px;
    position:absolute;
    margin:auto
}
.x-products__list ul li .x-vitrine__price-old,.x-products__list ul li .x-vitrine__price-best,.x-product-list ul li .x-vitrine__price-old,.x-product-list ul li .x-vitrine__price-best{
    position:relative;
    font-size:12px;
    font-weight:500;
    margin:5px 0 0;
    margin-right:5px;
    width:100%;
    float:left;
    color:#000
}
.x-products__list ul li .x-vitrine__link,.x-product-list ul li .x-vitrine__link{
    position:absolute;
    bottom:0px;
    left:50%;
    width:60px;
    height:60px;
    margin-left:-30px;
    line-height:58px;
    text-align:center;
    color:#000;
    font-size:14px;
    font-family:"Sofia Pro",sans-serif;
    border:1px solid #000;
    border-radius:50%;
    opacity:0;
    visibility:hidden;
    transition:ease all 0.2s
}
.x-products__list ul li .x-vitrine__out-of-stock,.x-product-list ul li .x-vitrine__out-of-stock{
    font-size:13px;
    font-weight:600;
    color:#ec2121;
    text-transform:uppercase
}
.x-products__list ul li .x-vitrine__out-of-stock span,.x-product-list ul li .x-vitrine__out-of-stock span{
    display:block;
    text-align:center
}
.x-products__list ul li:hover .x-vitrine__shop,.x-product-list ul li:hover .x-vitrine__shop{
    bottom:50%;
    opacity:1;
    visibility:visible
}
.x-products__list ul li:hover .x-vitrine__shop .x-vitrine__name h2,.x-product-list ul li:hover .x-vitrine__shop .x-vitrine__name h2{
    display:block
}
.x-products__list ul li:hover .x-vitrine__link,.x-product-list ul li:hover .x-vitrine__link{
    bottom:50px;
    opacity:1;
    visibility:visible
}
.e-modal-capitacao{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99999
}
.e-modal-capitacao .e-modal-overlay{
    background:rgba(0,0,0,0.45);
    float:left;
    width:100%;
    height:100vh
}
.e-modal-capitacao .e-modal-content{
    position:absolute;
    width:400px;
    max-width:90%;
    height:380px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#161616
}
.e-modal-capitacao .e-modal-content>*{
    float:left;
    width:100%;
    text-align:center;
    font-size:12px;
    color:#fff
}
.e-modal-capitacao .e-modal-content .e-close{
    float:right;
    width:auto;
    position:absolute;
    right:0;
    margin:10px 15px;
    transform:rotate(45deg);
    font-size:30px;
    cursor:pointer
}
.e-modal-capitacao .e-modal-content h2{
    -ms-flex-pack:center;
    justify-content:center;
    margin:60px 0 40px;
    display:-ms-flexbox;
    display:flex
}
.e-modal-capitacao .e-modal-content h2 i{
    float:left;
    width:36px;
    height:50px;
    background:url(/arquivos/icon-logo-bf.png) no-repeat center;
    background-size:contain
}
.e-modal-capitacao .e-modal-content h2 .e-text{
    font-size:14px;
    color:#fff;
    width:156px;
    margin-left:15px
}
.e-modal-capitacao .e-modal-content h2 .e-text span{
    float:left;
    width:100%;
    font-size:27px;
    margin-top:5px
}
.e-modal-capitacao .e-modal-content>span{
    margin-bottom:30px;
    font-weight:300;
    letter-spacing:1px
}
.e-modal-capitacao .e-modal-content form button,.e-modal-capitacao .e-modal-content form input{
    float:left;
    width:85%;
    margin:0 7.5%;
    color:#fff;
    fill:#fff;
    text-align:center;
    height:40px;
    border-bottom:1px solid;
    letter-spacing:.9px;
    font-weight:300
}
.e-modal-capitacao .e-modal-content form button::-moz-placeholder,.e-modal-capitacao .e-modal-content form input::-moz-placeholder{
    fill:#fff;
    color:#fff;
    opacity:1
}
.e-modal-capitacao .e-modal-content form button:-ms-input-placeholder,.e-modal-capitacao .e-modal-content form input:-ms-input-placeholder{
    fill:#fff;
    color:#fff;
    opacity:1
}
.e-modal-capitacao .e-modal-content form button::placeholder,.e-modal-capitacao .e-modal-content form input::placeholder{
    fill:#fff;
    color:#fff;
    opacity:1
}
.e-modal-capitacao .e-modal-content form button{
    border:1px solid;
    margin-top:20px;
    line-height:37px;
    text-transform:lowercase;
    font-weight:400;
    transition:.2s linear;
    cursor:pointer
}
.e-modal-capitacao .e-modal-content form button:hover{
    background:#fff;
    color:#161616;
    font-weight:500;
    border-color:#fff
}
html body{
    font-family:"Sofia Pro",sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-rendering:optimizeLegibility;
    font-smoothing:subpixel-antialiased;
    -moz-font-smoothing:subpixel-antialiased;
    -webkit-font-smoothing:subpixel-antialiased
}
html body *{
    font-family:"Sofia Pro",sans-serif
}
html body #ajaxBusy{
    display:none !important
}
html body .x-get-login{
    display:none !important
}
html body .x-general{
    float:left;
    width:100%;
    position:relative
}
html body .ui-autocomplete{
    display:none !important
}
 