        html {
            font-family: sans-serif
        }

        table {
            box-sizing     : border-box;
            border         : 1px solid gray;
            width          : calc(100% - 3px);
            border-collapse: collapse;
            position       : relative
        }

        #dialog-container table {
            width: calc(100% - 3px)
        }

        table.mutable {
            overflow: hidden
        }

        table tr {
            background-color: #fff
        }

        table tr:nth-child(odd) td {
            background-color: #eee
        }

        th,
        td {
            text-align      : center;
            position        : relative;
            z-index         : 100;
            margin          : 0;
            background-color: inherit;
            border          : 1px solid gray;
            border-collapse : collapse;
            margin-left     : -1px;
            margin-top      : -1px;
            height          : 3em;
            vertical-align  : middle
        }

        table.mutable th,
        table.mutable td {
            display      : inline-flex;
            position     : relative;
            height       : auto;
            top          : 0;
            height       : 3em;
            align-content: center;
            text-align   : center;
            align-items  : center
        }

        th.mutableCell,
        td.mutableCell {
            z-index: 50
        }

        th.fixedCol,
        td.fixedCol {
            background-color: blue;
            color           : #fff
        }

        .mutable div.tableData {
            width     : 100%;
            text-align: center
        }

        table.mutable th.mutableCell div.tableData {
            width      : 67%;
            margin     : 0 auto;
            line-height: 1.05em
        }

        .hidden {
            display: none
        }

        .tableContainer {
            position: relative
        }

        .tableControls {
            position: absolute;
            top     : .85em;
            z-index : 200
        }

        .previousControl,
        .nextControl {
            font-size: 22px !important;
            position : absolute
        }

        .previousControl {
            left: 2px
        }

        .previousControl::after {
            content: '\25c0'
        }

        .nextControl {
            right: 5px
        }

        .nextControl::after {
            content: '\25b6'
        }

        .tableControls a:link,
        a:visited {
            color          : #000;
            text-decoration: none !important
        }

        @media screen and (min-width:768px) {

            table,
            table.mutable {
                overflow: auto;
                width   : 100%
            }

            .tableControls {
                display: none
            }

            td,
            th {
                width: auto
            }

            table.mutable th,
            table.mutable td {
                display : table-cell;
                position: relative
            }
        }



        .copyBar {
            height          : 150px;
            background-color: #0067b1;
            position        : relative;
            min-width       : 0;
            display         : none;
        }

        .copyheader {
            font-size  : 23px;
            text-align : center;
            font-family: 'museo_sans_700regular', sans-serif;
            color      : #FFF;
            padding    : 20px;
            width      : auto;
        }

        .copy {
            font-size  : 16px;
            line-height: 20px;
            text-align : center;
            font-family: 'museo_sans_300regular', sans-serif;
            color      : #FFF;
            padding    : 0 42px;
        }

        .jumpList {
            border-bottom : 1px solid #444;
            margin-bottom : 40px;
            padding-bottom: 20px;
        }

        .jumpList p,
        .jumpList p a {
            font-size  : 16px !important;
            line-height: 25px !important;
        }

        .measurementSystem {
            position      : relative;
            top           : -5px;
            text-transform: uppercase;
            text-align    : right;
        }

        .measurementSystem.top {
            position     : relative;
            z-index      : 100;
            margin-top   : -45px;
            margin-bottom: 40px;
        }

        .chartTitle {
            margin-bottom : -10px;
            text-transform: uppercase;
            margin-top    : 40px;
        }

        .chartTitle a,
        .chartTitle a:hover {
            text-decoration: none !important;
            color          : #444 !important;
            cursor         : default;
        }

        .chartSubtitle {
            position : relative;
            top      : -5px;
            font-size: 15px;
            z-index  : 50;
        }

        .chartSubtitle a {
            font-size: 15px !important;
        }

        .chartMenu select {
            float: right;
            width: 65%;
        }

        .chartTabs ul.content-asset {
            display: block;
        }

        .chartTabs ul.content-asset a {
            display       : inline;
            font-size     : 12px;
            padding       : 0 !important;
            vertical-align: baseline !important;
        }

        .linkUs,
        .us {
            display: block;
        }

        .linkMetric,
        .metric {
            display: none;
        }

        h2.chartTitle a {
            font-size: 18px !important;
        }

        th {
            font-weight: 700;
        }

        .ui-tabs-nav {
            display: none;
        }

        .table-twoWide th,
        .table-twoWide td {
            width: 50%;
        }

        .table-threeWide th,
        .table-threeWide td {
            width: 33, 3%;
        }

        .table-fourWide th,
        .table-fourWide td {
            width: 25%;
        }

        .table-fiveWide th,
        .table-fiveWide td {
            width: 20%;
        }

        @media (max-width: 768px) {
            .pt_customer-service #main #primary {
                width: auto;
            }

            .ui-tabs {
                border: none !important;
            }

            .content-page #primary .content-asset ul {
                margin-left: 0;
            }
        }

        @media (min-width: 768px) {
            .ui-tabs-nav {
                display: block;
            }

            .copyBar {
                display: block;
            }

            .chartTabs {
                display        : table;
                border-collapse: collapse;
                width          : 100%;
            }

            .chartTabs ul {
                list-style-type: none;
                display        : table;
                border-collapse: collapse;
                margin         : 0 !important;
                padding        : 0 !important;
            }

            .chartTabs ul li {
                position      : relative;
                display       : table-cell;
                width         : 25%;
                border        : 1px solid gray;
                text-align    : center;
                vertical-align: center;
                padding       : 0 !important;
                margin        : 0 !important;
                float         : none !important;
            }

            .chartTabs a,
            .chartTabs a:link,
            .chartTabs a:visited {
                display        : block;
                padding        : 0 !important;
                font-size      : 16px;
                width          : 100%;
                height         : 60px;
                vertical-align : middle;
                text-decoration: none !important;
            }

            .chartTabs a:hover {
                text-decoration: underline !important;
            }

            .chartTabs li.ui-state-active a {
                background-color: #f8f8f8;
                font-weight     : 700;
            }

            .ui-tabs .ui-tabs-nav li {
                top: 0;
            }

            span.tabTitle {
                display    : block;
                padding-top: 10px;
            }

            a#sc_carters_shoes span.tabTitle {
                padding-top: 20px;
            }

            span.tabChevron {
                display   : none;
                width     : 100%;
                height    : 14px;
                position  : absolute;
                top       : 61px;
                left      : 0;
                background: transparent url('https://www.carters.com/on/demandware.static/-/Sites-Carters-Library/default/dw5fcf4fa2/images/tab-chevron.png') no-repeat center;
            }

            li.ui-state-active a span.tabChevron {
                display: inline;
            }

            .chartMenu {
                display: none;
            }
        }

        @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

        * {
            margin : 0;
            padding: 0;
        }

        body {
            background-color: #fff;
            font-family     : 'Roboto Condensed';
        }

        .nav_tabs {
            width           : 100%;
            height          : 90px;
            background-color: #363b48;
            position        : relative;
        }

        .nav_tabs ul {
            list-style: none;
        }

        .nav_tabs ul li {
            float: left;
            width: 12%;
        }

        .tab_label {
            display         : block;
            width           : 100%;
            background-color: #363b48;
            padding         : 25px;
            color           : #fff;
            cursor          : pointer;
            padding-top     : 35px;
            padding-bottom  : 10px;
            padding-left    : 05px;
            text-align      : center;
            height          : 40px;
        }


        .nav_tabs .rd_tab {
            display : none;
            position: absolute;
        }

        .nav_tabs .rd_tab:checked~label {
            background-color: #00afef;
            color           : #fff;
        }

        .tab-content {
            border-top      : solid 5px #00afef;
            background-color: #fff;
            display         : none;
            position        : absolute;
            width           : 96%;
            left            : 0;
            padding         : 16px;
        }

        .rd_tab:checked~.tab-content {
            display: block;
        }

        .tab-content h2 {
            padding: 10px;
            color  : #87d3b7;
        }

        .tab-content article {
            padding: 10px;
            color  : #555;
        }

        .bk2 {
            background-color: #fff;
        }

        body {
            overflow-x: hidden;
        }