.mx-content{
    font-family: 'Roboto', sans-serif;
}
.mx-content{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
#box-bread-brumb {
    padding: 0 0 15px;
}

#box-bread-brumb ul {
    display: block;
    padding-left: 0;
    margin-top: 10px;
}


#box-bread-brumb li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle;
}
#box-bread-brumb li:first-child a {
    text-indent: -999em;
    overflow: hidden;
    display: block;
    width: 26px;
    height: 16px;
    background: url(/arquivos/icon_homeBreadcrumb.png) center left no-repeat;
    background-size: 70%;
    position: relative;
}

#box-bread-brumb li a {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
#box-bread-brumb li.last a {
    color: #54a4d9;
}
.mx-aside{
    width: 18%;
    float: left;
}
.mx-content-catalog{
    width:82%;
    float: left;
    /* background: #f7f7f7; */
    margin-bottom: 20px;
}
.mx-content-catalog .orderBy{display: none;}
.content-catalog-info  {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  padding-left:18%; 
  color: #484848;
  margin-bottom:10px
}
.content-catalog-info .titulo-sessao{
    color:#54a4d9;
    text-transform: uppercase;
    font-weight: bold;
}
.content-catalog-info h4{
    display: none;
}
.content-catalog-info .orderBy label{
   display: none; 
}
.content-catalog-info .resultado-busca-numero{
    text-align: right;
    display: none;
    color: #6acd8d;
    font-size: 14px;
}
.resultado-busca-numero .label{
    float: right;
    padding-left: 5px;
}

.content-catalog-info .orderBy{float: right;}
.content-catalog-info .title-category{
    float: left;
    width: 100%;
}

fieldset.orderBy select {
    background: #fff;
    padding: 0px 17px;
    vertical-align: middle;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    font-size: 14px;
    /* text-transform: uppercase; */
    position: relative;
    bottom: 15px;
    margin-left: 10px;
    color: #484848;
    line-height: 20px;
    height: 35px;
    background: url(/arquivos/arrow-down-select.png?v=lupo) no-repeat;    
    background-position: 95% 50%;
}


.content-catalog-info .filterBy,
.content-catalog-info .compare,
.content-catalog-info .resultado-busca-tempo,
.content-catalog-info .resultado-busca-termo span.label,
.content-catalog-info .resultado-busca-termo strong.value  {display: none;}

.searchResultsTime,
.searchResultsTime >*,
.pager.top,
.pager.bottom,
.resultItemsWrapper +.searchResultsTime,
.resultItemsWrapper +.searchResultsTime +.sub,
.resultado-busca-filtro .compare,
.resultado-busca-filtro .filterBy,
.menu-navegue{ display: none; }

.navigation-tabs .search-multiple-navigator h3,
.bt-refinar {
    display: none;
}

.mx-filter_result h4 {
    display: block;
    color: #b0b0b0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.resultado-busca .navigation-tabs .search-multiple-navigator h4, 
.resultado-busca .menu-departamento h5, 
.resultado-busca .navigation .menu-departamento h3, 
.resultado-busca .navigation .menu-departamento ul {
    display: block;
}
.navigation-tabs .search-multiple-navigator h4, .menu-departamento h5, .navigation .menu-departamento h3, .navigation .menu-departamento ul  {
    display: none;
    padding-bottom: 5px;
}

.navigation-tabs .search-multiple-navigator h4 a, .menu-departamento h5,.navigation .menu-departamento h3 a {
   
   font-size: 18px;
   font-weight: bold;
   line-height: normal;
   letter-spacing: 0.9px;
   text-align: left;
   color: #54a4d9;
   text-decoration: none;
   padding-bottom: 10px;
}
.navigation .menu-departamento ul a{
   line-height: normal;
   letter-spacing: 0.9px;
   text-align: left;
   color: #909090;
   text-decoration: none;
   padding-bottom: 10px;
   font-size: 14px;
}
.mx-filter_result{ margin-bottom: 10px}
.navigation-tabs .search-multiple-navigator fieldset {
    
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.navigation-tabs .search-multiple-navigator fieldset.filtro_marca label input[type="checkbox"]:checked:before,
.navigation-tabs .search-multiple-navigator fieldset.filtro_kit label input[type="checkbox"]:checked:before,
.navigation-tabs .search-multiple-navigator fieldset.filtro_modelo label input[type="checkbox"]:checked:before,
.navigation-tabs .search-multiple-navigator fieldset.filtro_cor label input[type="checkbox"]:checked:before,
.navigation-tabs .search-multiple-navigator fieldset.filtro_material label input[type="checkbox"]:checked:before,
.navigation-tabs .search-multiple-navigator fieldset.filtro_faixa-de-preco label input[type="checkbox"]:checked:before {
    border-radius: 100%;
}
.navigation-tabs .search-multiple-navigator fieldset.filtro_tamanho label input {display: none!important;}
.navigation-tabs .search-multiple-navigator fieldset.filtro_tamanho label {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 4px;
    border: solid 1px #e5e5e5;
    min-width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: 13px;
    text-align: center;
}
.navigation-tabs .search-multiple-navigator fieldset.filtro_tamanho label.sr_selected {
    color: #FFF;
    background: #76b6e1;
    border: 1px solid #76b6e1;
}
.navigation-tabs .search-multiple-navigator fieldset.filtro_tamanho label .EG {font-size: 12px;}

.navigation-tabs .search-multiple-navigator fieldset:last-child {
    border-bottom: 0;
}

.navigation-tabs .search-multiple-navigator h5 {
    position: relative;
    display: block!important;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.navigation-tabs .search-multiple-navigator fieldset > div {
/*    display: none; */ 
   margin: 10px 0;
}

.navigation-tabs .search-multiple-navigator fieldset h5:after {
    content: "";
    display: block;
    background-image: url(/arquivos/mx_iconArrow.png);
    background-size: 100%;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 3px;
    right: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: none;
}

.navigation-tabs .search-multiple-navigator fieldset.mx-active h5:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navigation-tabs .search-multiple-navigator fieldset label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: #909090;
}

/*.resultado-busca .search-single-navigator {
    display: block!important;
}*/
.resultado-busca .menu-departamento ul.productClusterSearchableIds, .resultado-busca .menu-departamento h4.produtos a, .resultado-busca .menu-departamento h4 + ul{
    display: none;
}

.menu-departamento h4 + ul li a {
    cursor: pointer;
    display: block;
    font-size: 15px;
    color: #909090;
    padding:10px 0px;
}
.menu-departamento h4 + ul li a:hover{
    color:#54a4d9;
    
} 

.search-single-navigator {
    display: none!important;
}

.navigation-tabs .search-multiple-navigator fieldset.filtro_cor label input[type="checkbox"] {
    margin: 0;
}
.navigation-tabs .search-multiple-navigator fieldset.filtro_cor label {
    margin: 0 5px 5px 0;
}
.navigation-tabs .search-multiple-navigator fieldset label input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: solid 1px #e5e5e5;
    position: relative;
    padding: 0;
    margin: 0 10px 10px 0;
    min-height: initial;
    border-radius: 50%;
    top: 2px;
    outline: none;
}

.navigation-tabs .search-multiple-navigator .filtro_cor label input[type="checkbox"]:checked:before {
    width: 13px;
    height: 13px;
    top: 4px;
    left: 4px;
}

.navigation-tabs .search-multiple-navigator fieldset label input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #54a4d9;
}

#collections .main .sub:last-child,
#collections .main .compare,
#collections .main .resultado-busca-filtro .filterBy,
#collections .main .resultado-busca-filtro .orderBy {
    display: none!important;
}

#main-content .mx-orderby_wrapper {
    float: right;
    width: 100%;
    margin: 35px 0 0;
}

#main-content .mx-orderby {
    float: right;
    width: 15%;
    text-align: left;
    background: #FFF;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

#main-content .mx-orderby > span {
    text-transform: uppercase;
    padding: 10px;
    display: block;
    border: 1px solid #303030;
    position: relative;
}

#main-content .mx-orderby > span:after {
    content: "";
    display: block;
    background-image: url(/arquivos/mx_iconArrow.png);
    background-size: 100%;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 10px;
    right: 4px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#main-content .mx-orderby.mx-active > span:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#main-content .mx-orderby .mx-drop {
    display: none;
    border: 1px solid #303030;
    position: absolute;
    top: 98%;
    padding: 10px 10px 0;
    background: #FFF;
    width: 100%;
}

#main-content .mx-orderby .mx-drop ul li a {
    display: block;
    line-height: 20px;
    color: #303030;
    width: 100%;
}

#main-content .mx-orderby .mx-drop ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

#content > .row {
    position: relative;
}

aside.col-xs-3.mx-fixed {
    position: fixed;
    top: 20px;
}

aside.col-xs-3.mx-bottom {
    position: absolute;
    bottom: 0;
}

#main-content.mx-fixed {
    float: right;
}

#departament-navegador .mx-filter_result h4 {
    display: block;
    color: #b0b0b0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#departament-navegador .mx-filter_result i {
    margin-left: 10px;
}

.resultado-busca .title-category {
    border: 0;
}

.resultado-busca .mx_term-search {
    width: 100%;
    float: left;
    padding: 18px 0;
    text-align: center;
    border: 0;
}

.mx-info {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.mx-info h2 { 
    padding: 20px 0 5px;
    display: block;
    font-size: 18px;
    font-style: italic;
}
.mx-info h3 { 
    padding: 0 0 20px;
    display: block;
    font-size: 15px;
    font-style: italic;
}
.mx-info fieldset.busca {
    position: relative;
}
 .mx-info fieldset.busca label, .mx-info fieldset.busca legend, fieldset.busca select{
        display: none;
}

.mx-info fieldset input.fulltext-search-box {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 39px;
    padding: 0 27px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #181818;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.mx-info  fieldset.busca .btn-buscar {
    position: absolute;
    top: 7px;
    right: 10px;
    border: 0;
    background: url(/arquivos/icon_lupa.png) center transparent no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 0;
}

.resultado-busca .mx_term-search .x-group-title {
    text-transform: uppercase;
}

.resultado-busca .mx_term-search .x-group-title h2 {
    font-size: 24px;
    display: block;
    position: relative;
    z-index: 99;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.resultado-busca .mx_term-search .x-group-result {
    font-size: 16px;
}

.resultado-busca .mx_term-search .x-group-result .mx-word {
    color: #8dbbc8;
    font-weight: bold;
    font-size: 18px;
}

.pager.top {
    display: none!important;
}

#x-infinityScroll {
    display: block;
    max-width: 250px;
    width: 100%;
    margin: 15px auto 30px;
    background: #212121;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search-empty .mx-content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto 40px;
}

.search-empty .mx-info-search .mx-foot-search h4 {
    text-align: center;
    display: block;
    padding: 25px 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.search-empty .mx-info-search ul {
    text-align: left;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.search-empty .mx-info-search ul li {
    color: #868686;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
    letter-spacing: 1px;
    line-height: 20px;
}

.filtro_cor label {
    font-size: 0!important;
    margin: 0 0 10px;
    vertical-align: top;
    display: inline-block!important;
}

.filtro_cor label input {
    width: 23px!important;
    height: 23px!important;
    cursor: pointer;
}

.mx-searchEmpty h2 p {
    display: block;
    padding: 30px 0 30px;
    margin: 30px 0 0;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #000;
}

.mx-searchEmpty h2 p:after {
    content: '';
    height: 3px;
    background: #000;
    width: 50px;
    display: block;
    margin: 10px auto 0;
}
.vtexsr-emptySearch h3 {
    display: block;
    padding: 20px;
    font-size: 16px;
    color: #c54444;
}

.resultado-busca .prateleira {overflow: initial!important}

/* .mx-content-catalog .prateleira ul li{
    width: 30%;
} */
.mx-content-catalog .prateleira ul .pat-thumb-colors .ul_color li{
    width: 20%;
}
.menu-departamento h4.ativo .drop,
.mx-aside .menu-departamento .drop{
    background: url('/arquivos/new-lupo-sprite.png') no-repeat -294px -186px;
    width: 13px;
    height: 8px;
    position: absolute;
    right: 3px;
    top: 23%;
    content: "";
    display: block;
    transition: all .2s ease;
    backface-visibility: hidden;
    opacity: .5;
    filter: alpha(opcacity=50);
    cursor: pointer;
}
.menu-departamento h5.ativo .drop {
    /* background: url(/arquivos/arrow-up.png) 8px 10px no-repeat!important; */
    background: url('/arquivos/new-lupo-sprite.png') no-repeat -294px -186px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

#scrollLoading{    
    width: 42px;
    height: 57px;
    background:url(/arquivos/loading-lupo.png?v=6985);
    position: fixed;
    top: 50%;
    margin-top: -20px;
    left: 50%;    
    font-size: 0;    
    z-index: 999999;   
    display: none;
    /* animation: scrollLoading 1s linear infinite;  */
}
/* @keyframes scrollLoading {
    to {transform: rotate(360deg);}
}
   
@media only screen and (min-width:100px) and (max-width:768px){
    .mx-content-catalog  .prateleira > ul{overflow:initial;float: none;position:static;width: auto!important;display: inline;}
    .mx-content-catalog  .prateleira li{width: 49%}
} */
.resultado-busca .btn-mais{
    display: none;
}
.btn-mais a{
    color: #fff;
    text-transform: uppercase;background: #54a4d9;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin: 10px 0;
    display: block;
    font-size: 13px;
    font-weight: bold;
    width: 95%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
}
.bx-orderby{display: none;}
div#returnToTop {
    float: left;
    clear: both;
    position: fixed;
    top: 84%;
    right: 1%;
    background: url(/arquivos/up-chevron-button.png?v=5) no-repeat;
    width: 32px;
    height: 32px;
    font-size: 0;
    cursor: pointer;
}

.search-multiple-navigator fieldset > div{display: none}
@media only screen and (min-width:100px) and (max-width:1080px) {
    .mx-content .mx-breadcrumb{
        display: none;
    }
    .mx-content {
        margin-top: 60px;
    }
    #main-content .mx-orderby {
        width: 100%;
    }
    .search-empty .mx-content {
        width: 90%;
    }
    .search-empty .mx-content .mx-info h2 {
        font-size: 15px;
        padding-bottom: 10px;
        text-align: center;
        color: #666;
    }
    .content-catalog-info {
        padding: 0;
    }
    .content-catalog-info .orderBy {
        width: 100%;
        margin: 15px 0 10px;
        display: none;
    }
    fieldset.orderBy select {
        bottom: initial;
        margin: 0;
    }
    .content-catalog-info .resultado-busca-numero {
        float: left;
        width: 51%;
        padding-bottom: 10px;
        text-align: left;
       
    }
    
    .resultado-busca-numero .label {
        /* float: initial; */
        float: left;
        padding: 0;
    }
    .content-catalog-info .resultado-busca-numero{
        font-size: 11px;
        color: #000;
    }
    .content-catalog-info .titulo-sessao{
        font-size: 16px;
    }
    .mx-content .mx-aside,
    .mx-content-catalog {
        width: 100%;
    }
    /* .mx-center {
        padding: 0;
    } */
    .mx-content-catalog .prateleira ul li {
        width: 46%;
        margin: 10px 2% 20px;
    }

    .mx-aside .mx-search-result {
        display: none;
        /* position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        padding: 1rem;
        top: 0;
        left: 0;
        z-index: 999999999; */
    }
    .mx-aside .mx-search-result > h5 {
        display: none;
        background: #FFF;
        padding: 10px;
    }
    .mx-aside .mx-search-result .navigation-tabs {
        float: left;
        width: 100%;
        padding: 10px;
        background: #FFF;
        margin-top: 20px;
        /* max-height: 500px;
        overflow-x: scroll; */
    }
    .navigation-tabs .search-multiple-navigator fieldset{
        width: 100%;
    }
    .mx-aside .mx-filter-mobile {
        float: left;
        width: 100%;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
    }
    .mx-aside .mx-filter-mobile h5 {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
        display: block;
        padding: 15px 0;
        background: #81bee5;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
    }
    .mx-aside .mx-filter-mobile h5:before {
        content: '';
        width: 22px;
        height: 22px;
        background: url('/arquivos/icon-filter-mobile-v1.png?v=filter') center no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px;
    }
    .mx-aside .mx-search-result .close {
        position: absolute;
        width: 25px;
        height: 25px;
        background: url('/arquivos/icon_closeMobile.png') center no-repeat;
        background-size: 100%;
        top: 20px;
        right: 20px;
    }
    .navigation-tabs .search-multiple-navigator h4 a, 
    .menu-departamento h5, 
    .navigation .menu-departamento h3 a {
        font-size: 14px;
    }
    .search-empty .mx-content {
        margin: 60px auto 40px;
    }
    .search-empty .mx-info-search ul li {
        font-size: 12px;
        padding-bottom: 10px;
    }
    
    .navigation-tabs .search-multiple-navigator fieldset label input[type="checkbox"] {
        width: 20px!important;
        height: 20px!important;
    }
    .bx-orderby{display: block; margin-top: 25px;}
    .bx-orderby label{display: none;}
    .bx-orderby select {
        background: #fff;
        width:100%;
        padding: 0px 17px;
        vertical-align: middle;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        font-size: 14px;        
        position: relative;
        bottom: 15px;        
        color: #484848;
        line-height: 20px;
        height: 35px;
        background: url(/arquivos/arrow-down-select.png?v=lupo) no-repeat;
        background-position: 95% 50%;
    }
    .mx-content .mx-carousel .prateleira .btn-comprar-mobile{
        display: block;
    }
    .mx-content .mx-carousel .prateleira .btn-comprar-mobile a{
        padding: 10px 5px;
        display: block;
        background: #ff0453;
        text-align: center;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-weight: bold;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    /*escondendo as variacoes*/
    .prateleira .x-variations,
    .prateleira .trust-showcase{
        display: none;
    }

    .content-catalog-info .resultado-busca-numero{
        display: block
    }
    .content-catalog-info .title-category{
        width:48%; 
    }
    .navigation-tabs .search-multiple-navigator fieldset label input[type="checkbox"]{
        margin: 0 15px 10px 0;
    }
    .btn-mais a{
        width: 100%;
    }
    html .navigation-tabs .search-multiple-navigator .filtro_cor label input{
        width: 23px!important;
        height: 23px!important;
    }
    .mx-center{
        padding: 0;
    }
    footer.mx-footer .mx-content-footer{
        padding: 15px 1rem;
    }
 
}
@media only screen and (min-width:100px) and (max-width:768px) {
    .mx-content-catalog .prateleira ul li .price .best-price {
        color: #a8cb2f;
        font-weight: 600;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        vertical-align: middle;
    }
    .mx-content-catalog .prateleira ul li .price{
        text-align: left;
        padding: 10px 0;
        display: block;
        color: #7f8386;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        min-height: 60px;
        text-decoration: none;        
    }
    .mx-content-catalog .prateleira ul li .product-name a{
        text-align: left;
    }
    .navigation-tabs .search-multiple-navigator fieldset label input[type="checkbox"]:checked:before{
       
        width: 14px;
        height: 14px;
        background-color: #54a4d9;
    }
    .navigation-tabs .search-multiple-navigator fieldset.filtro_kit label input[type="checkbox"]:checked:before{
        border-radius: 100%;
    }
}

.qd-v1-seo-text {
    font-size:14px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #7f8386;
}

.qd-v1-seo-text p{
    margin-bottom: 10px;
}

.qd-v1-seo-text strong,
.qd-v1-seo-text b{
    font-weight: bold;
}

.qd-v1-seo-text h1,
.qd-v1-seo-text h2,
.qd-v1-seo-text h3,
.qd-v1-seo-text h4{
    margin-bottom: 10px;
    font-weight: bold;
    font-size:16px;
    color:#7f8386;
}