/* @Booklet
----------------------------------------*/

.booklet {
    width: 800px;
    height: 600px;
    position: relative;
    /*background:#fff;*/
    margin: 0 auto 10px;
}

.booklet .b-page {
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
}

.booklet .b-pN {}

.booklet .b-p0 {}

.booklet .b-p1 {}

.booklet .b-p2 {}

.booklet .b-p3 {}

.booklet .b-p4 {}

/*.booklet .b-load  {display:none;}*/

/* Page Wrappers */

.booklet .b-wrap {
    top: 0;
    position: absolute;
}

.booklet .b-wrap-left {
    background: #fff;
}

.booklet .b-wrap-right {
    background: #efefef;
}

.booklet .b-pN .b-wrap, .booklet .b-p1 .b-wrap, .booklet .b-p2 .b-wrap, .booklet .b-p3 .b-wrap, .booklet .b-p4 .b-wrap {
    left: 0;
}

.booklet .b-p0 .b-wrap {
    right: 0;
}

/* Custom Page Types */

.booklet .b-page-blank {
    padding: 0;
    width: 100%;
    height: 100%;
}

.booklet .b-page-cover {
    padding: 0;
    width: 100%;
    height: 100%;
    background: #925C0E;
}

.booklet .b-page-cover h3 {
    color: #fff;
    text-shadow: 0px 1px 3px #222;
}

/* Page Numbers */

.booklet .b-counter {
    bottom: 10px;
    position: absolute;
    display: block;
    width: 25px;
    height: 20px;
    background: #ccc;
    color: #444;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10px;
    padding: 5px 0 0;
}

.booklet .b-wrap-left .b-counter {
    left: 10px;
}

.booklet .b-wrap-right .b-counter {
    right: 10px;
}

/* Page Shadows */

/* .booklet .b-shadow-f {
}

.booklet .b-shadow-b {
}

.booklet .b-p0 {
}

.booklet .b-p3 {
} */

/* Overlay Controls */

.booklet .b-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 50%;
}

.booklet .b-overlay-prev {
    left: 0;
}

.booklet .b-overlay-next {
    right: 0;
}

/* Tab Controls */

.booklet .b-tab {
    background: #000;
    height: 40px;
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
    color: #ccc;
    position: absolute;
    font-size: 11px;
}

.booklet .b-tab-prev {
    left: 0;
}

.booklet .b-tab-next {
    right: 0;
}

.booklet .b-tab:hover {
    background: #aaa;
    color: #000;
}

/* Arrow Controls */

.booklet .b-arrow {
    display: block;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    height: 100%;
    width: 74px;
}

.booklet .b-arrow div {
    display: none;
    text-indent: -9999px;
    height: 170px;
    width: 74px;
    position: absolute;
    left: 0;
    top: 25%;
}

.booklet .b-arrow-next {
    right: -80px;
}

.booklet .b-arrow-prev {
    left: -80px;
}

.booklet .b-arrow-next div {
    background: url("images/arrow-next.png") no-repeat left top;
}

.booklet .b-arrow-prev div {
    background: url("images/arrow-prev.png") no-repeat left top;
}

/* @z-index fix (needed for older IE browsers)
----------------------------------------*/

.booklet .b-menu {
    z-index: 100;
}

.booklet .b-selector {
    z-index: 100;
}

.booklet .booklet {
    z-index: 10;
}

.booklet .b-pN {
    z-index: 10;
}

.booklet .b-p0 {
    z-index: 10;
}

.booklet .b-p1 {
    z-index: 10;
}

.booklet .b-p2 {
    z-index: 10;
}

.booklet .b-p3 {
    z-index: 10;
}

.booklet .b-p4 {
    z-index: 10;
}

.booklet .b-prev {
    z-index: 40;
}

.booklet .b-next {
    z-index: 40;
}

.booklet .b-counter {
    z-index: 40;
}

/* @Menu Items
----------------------------------------*/

.booklet .b-menu {
    height: 40px;
    padding: 0 0 10px;
}

.booklet .b-selector {
    height: 40px;
    position: relative;
    float: right;
    border: none;
    color: #cecece;
    cursor: pointer;
}

.booklet .b-selector .b-current {
    padding: 8px 15px 12px;
    line-height: 20px;
    min-width: 18px;
    height: 20px;
    display: block;
    background: #000;
    text-align: center;
}

.booklet .b-selector-page {
    width: auto;
    margin-left: 15px;
}

.booklet .b-selector-chapter {
    width: auto;
}

.booklet .b-selector:hover {
    color: #fff;
    background-position: left 0px;
}

.booklet .b-selector:hover .b-current {
    background-position: right 0px;
}

.booklet .b-selector ul {
    overflow: hidden;
    margin: 0;
    list-style: none !important;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 0 0 10px;
    background: #000;
    width: 240px;
    font: normal 12px "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.booklet .b-selector li {
    border: none;
}

.booklet .b-selector a {
    color: #cecece;
    height: 14px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.booklet .b-selector a .b-text {
    float: left;
    clear: none;
}

.booklet .b-selector a .b-num {
    float: right;
    clear: none;
}

.booklet .b-selector a:hover {
    color: #fff;
}

/* Booklet jQuery Plugin Style*/

.booklet {
    -moz-box-shadow: 0px 0px 1px #fff;
    -webkit-box-shadow: 0px 0px 1px #fff;
    box-shadow: 0px 0px 1px #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.booklet .b-wrap-left::before {
    content: "";
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    box-shadow: inset -30px 0px 30px -20px rgba(0, 0, 0, 0.75);
}

.booklet .b-wrap-right::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    box-shadow: inset 30px 0px 30px -20px rgba(0, 0, 0, 0.75);
}

.qd-dm-wrapper {
    margin: 20px auto;
    width: 1000px;
    position: relative;
}

.qd-dm-wrapper img {
    -moz-box-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px #fff;
    box-shadow: 1px 1px 1px #fff;
}

a#next_page_button, a#prev_page_button {
    z-index: 40;
    display: none;
    position: absolute;
    width: 41px;
    height: 80px;
    cursor: pointer;
    top: 40%;
    background: #AAA;
    font-family: "FontAwesome";
    font-size: 2em;
    padding: 20px;
}

.qd-dm-wrapper a:hover {
    color: #868686;
    text-decoration: none;
    opacity: 0.5;
}

a#prev_page_button::before {
    content: "\f053";
}

a#prev_page_button {
    border-radius: 0 120px 120px 0;
    padding-left: 4px;
}

a#next_page_button::before {
    content: "\f054";
}

a#next_page_button {
    border-radius: 120px 0 0 120px;
    right: 0;
    padding-left: 18px;
}

a#next_page_button:hover {
    background-position: -41px 0px;
}

a#prev_page_button:hover {
    background-position: 0px 0px;
}

.loading {
    width: 160px;
    height: 56px;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    right: 135px;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.qd-dm-page {
    display: initial;
}

.qd-dm-page img {
    height: 100%;
}

.qd-dm-msg {
    display: block;
    text-align: center;
    background: #FFD332;
    color: #AD2229;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.qd-dm-msg > span {
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    .qd-dm-msg > span:before  {
        content: 'Mova a tela lateramente para visualizar o catálogo. ';
    }
}